__pycache__/
.venv/
.dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.env
.DS_Store
.idea/
.vscode/
.env
reports/
!reports/.gitkeep
data/
!data/.gitkeep
project-reporter/file_contents_report.txt